# Makefile for the BIRD Internet Routing Daemon
# (c) 1998 Martin Mares <mj@ucw.cz>

THISDIR=$(shell pwd)
RELDIR=$(subst $(TOPDIR)/,,$(THISDIR))
ONAME=$(subst /,_,$(RELDIR)).o

ifndef SRCS
SRCS=$(subst .o,.c,$(OBJS))
endif

.PHONY: all this dep

all:
	@echo "Please run the top-level Makefile instead."
	@exit 1

ifdef OBJS

ifdef LIB

this: $(LIB)

$(LIB): $(OBJS)
	rm -f $(LIB)
	ar rcs $(LIB) $(OBJS)
	ranlib $(LIB)

else

this: $(ONAME)

$(ONAME): $(OBJS)
	$(LD) -r -o $(ONAME) $(OBJS)

endif

dep: $(SRCS)
	rm -f .depend
	for a in $(SRCS) ; do gcc $(CPPFLAGS) -MM $$a >>.depend ; done

else

dep:

endif

ifneq ($(wildcard .depend),)
include .depend
endif
